#logo {
    width: 25%;
    height: auto;
    margin-bottom: -30px;
}

#address_bar {
    width: 80%;
    font-size: 1.2em;
    border-radius: 16px;
    padding: 8px;
    border: solid 2px #ccc; 
}

#go {
    width: 20%;
    background: rgb(116, 143, 202);
    color: white;
    text-decoration: none;
    padding: 8px;
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

body {
    text-align: center;
    font-family: sans-serif;
    color: #444;
    background-image: url('../imgs/rose.jpg')
}

.container {
    width: 40%;
    border: solid 2px #eee;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    display: inline-block;
    margin: 16px;
    background: #ffffff99;
}

.item {    
    padding: 16px;
    text-align: left;
}

.containers_holder {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}